---
interface Props {
  tipNumber: number;
  tip: string;
  hashtags: string[];
}

const { tipNumber, tip, hashtags = [] } = Astro.props;
const newHashtags = [...hashtags, "ecofriendlytips", "kroenger"];

const getShuffledArr = (arr: string[]) => {
  const newArr = arr.slice();
  for (let i = newArr.length - 1; i > 0; i--) {
    const rand = Math.floor(Math.random() * (i + 1));
    [newArr[i], newArr[rand]] = [newArr[rand], newArr[i]];
  }
  return newArr;
};
const newRandomHashtags = getShuffledArr(newHashtags);

function onlyUnique(value: any, index: any, self: any) {
  return self.indexOf(value) === index;
}
const uniqueHashtags = newRandomHashtags.filter(onlyUnique);
---

<div class="tipsCard">
  <article>
    <div class="image">
      <img src={`../tips/${tipNumber}.webp`} alt={tip} />
    </div>
    <h3 class="tipNumber">Eco friendly tip #{tipNumber}</h3>
    <p class="tip">
      {tip}
    </p>
    <div class="hashtags">
      {uniqueHashtags.map((hashtag) => <div class="hashtag">#{hashtag}</div>)}
    </div>
  </article>
</div>

<style>
  .tipsCard {
    display: grid;
    width: 25rem;
    box-shadow: 0 10px 15px -3px hsl(148, 41%, 29%),
      0 4px 6px -2px hsl(147, 41%, 29%);
  }
  .tipsCard > article > :nth-child(n):not(.image) {
    padding-inline: 1rem;
    text-align: left;
  }
  .image {
    margin-bottom: 1rem;
  }
  .image > img {
    width: 25rem;
    height: 25rem;
  }
  .tipNumber {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .tip {
    margin-bottom: 1.5rem;
  }
  .hashtags {
    margin-bottom: 1rem;
  }
  .hashtag {
    display: inline-block;
    background-color: #edf2f7;
    border-radius: 1rem;
    padding: 4%;
    margin: 0.2rem;
    font-weight: 600;
    color: #285f40;
  }

  @media only screen and (max-width: 600px) {
    .tipsCard {
      display: grid;
      width: 15.6rem;
      box-shadow: 0 10px 15px -3px hsl(148, 41%, 29%),
        0 4px 6px -2px hsl(147, 41%, 29%);
    }
    .tipsCard > article > :nth-child(n):not(.image) {
      padding-inline: 1rem;
      text-align: left;
    }
    .image {
      margin-bottom: 1rem;
    }
    .image > img {
      width: 15.6rem;
      height: 15.6rem;
    }
    .tipNumber {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .tip {
      margin-bottom: 1.5rem;
    }
    .hashtags {
      margin-bottom: 1rem;
    }
    .hashtag {
      display: inline-block;
      background-color: #edf2f7;
      border-radius: 1rem;
      padding: 5%;
      font-weight: 600;
      color: #285f40;
    }
  }
</style>
